* {margin: 0;padding: 0;}
h4 {margin-bottom: 0;}
*, *::after, *::before {box-sizing: border-box;}
.icon {  width: 1em; height: 1em;  vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
ul,ol,nav{list-style-type: none;}